@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --preto:#222831;
    --cinza: #393e46;
    --azul: #00adb5;
    --branco: #eeeeee;
    --Roboto: 'Roboto', sans-serif;
    --Ubuntu: 'Ubuntu', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--cinza);
}

.titulo {
    font-family: var(--Roboto);
    display: block;
    height: 100px;
    font-size: 20px;
    padding-top: calc(50px - 20px);
    text-align: center;
    background-color: var(--azul);
    color: var(--branco);
}

.modulo {
    margin: 10px 200px 40px 200px;
    background-color: var(--branco);
    border-radius: 50px;
    padding: 30px;
}

.modulo > h2 {
    font-size: 30px;
    font-family: sans-serif;
    color: var(--cinza);
}

.modulo > ul {
    margin-left:30px;
    list-style: decimal-leading-zero;
    font-family: var(--Ubuntu);
}
.modulo > ul > li > a {
    text-decoration: none;
    color: var(--preto);
}
.modulo > ul > li > a:hover {
    color: var(--azul);
}